<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Yet another directory listing, powered by Directory Lister."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="../../css/mdb.min.css" /> -->

    <link rel="stylesheet" href="/css/index.css" />
    <!-- <script src="https://kit.fontawesome.com/cae9b0fbb7.js" crossorigin="anonymous"></script> -->
    <script src="/js/all.min.js"></script>
    <script>
      function $(id){
        var el = 'string' == typeof id
          ? document.getElementById(id)
          : id;

        el.on = function(event, fn){
          if ('content loaded' == event) {
            event = window.attachEvent ? "load" : "DOMContentLoaded";
          }
          el.addEventListener
            ? el.addEventListener(event, fn, false)
            : el.attachEvent("on" + event, fn);
        };

        el.all = function(selector){
          return $(el.querySelectorAll(selector));
        };

        el.each = function(fn){
          for (var i = 0, len = el.length; i < len; ++i) {
            fn($(el[i]), i);
          }
        };

        el.getClasses = function(){
          return this.getAttribute('class').split(/\s+/);
        };

        el.addClass = function(name){
          var classes = this.getAttribute('class');
          el.setAttribute('class', classes
            ? classes + ' ' + name
            : name);
        };

        el.removeClass = function(name){
          var classes = this.getClasses().filter(function(curr){
            return curr != name;
          });
          this.setAttribute('class', classes.join(' '));
        };

        return el;
      }

      function search() {
        var str = $('search').value.toLowerCase();
        var links = $('file-list').all('form li a div[name*="filename"]');

        links.each(function(link){
          var text = link.textContent.toLowerCase();

          if ('..' == text) return;
          if (str.length && ~text.indexOf(str)) {
            link.addClass('highlight');
          } else {
            link.removeClass('highlight');
          }
        });
      }

      $(window).on('content loaded', function(){
        $('search').on('keyup', search);
      });
    </script>

    <title>Download</title>
  </head>
  <body>
    <div id="app" class="dark">
      <div class="flex flex-col min-h-screen font-sans dark:bg-gray-800">
        <header id="header" class="bg-blue-600 shadow sticky top-0">
          <div class="border-b border-blue-700">
            <div
              class="container flex flex-wrap justify-between items-center space-x-6 mx-auto p-4 md:flex-row xl:max-w-screen-xl"
            >
              <a href="." class="flex items-center space-x-2 p-1" title="DCAN">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="folder-tree"
                  class="inline-block fill-current text-white w-8 h-8"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M544 32H432L400 0h-80a32 32 0 0 0-32 32v160a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V64a32 32 0 0 0-32-32zm0 288H432l-32-32h-80a32 32 0 0 0-32 32v160a32 32 0 0 0 32 32h224a32 32 0 0 0 32-32V352a32 32 0 0 0-32-32zM64 16A16 16 0 0 0 48 0H16A16 16 0 0 0 0 16v400a32 32 0 0 0 32 32h224v-64H64V160h192V96H64z"
                  ></path>
                </svg>
              </a>

              <div class="flex-1 max-w-xl">
                <div
                  class="group relative block bg-blue-700 rounded-full shadow-inner dark:bg-blue-800"
                >
                  <input
                    type="text"
                    value=""
                    id="search"
                    placeholder="Search..."
                    class="bg-transparent placeholder-gray-900 text-white w-full px-10 py-2"
                    ref="searchInput"
                  />

                  <div
                    class="flex items-center absolute left-0 inset-y-0 ml-2 pointer-events-none"
                  >
                    <div
                      class="flex justify-center items-center text-gray-900 text-opacity-50 w-6 h-6"
                    >
                      <i class="fas fa-search fa-fw"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="md-screen flex items-center justify-center ">
                <a href="/login" class="btn btn-dark mx-2 cursor-pointer"
                  >login</a
                >
                <button
                <% if (locals.paths.length < 2) { %>
                  disabled 
                <% } %>
                 id="submit" onclick="submit();" class="btn btn-light cursor-pointer mx-2">
                  download all
                </button>
              </div>
            </div>
          </div>

          <div class="border-t border-blue-500 dark:border-blue-600">
            <div
              class="container flex flex-wrap justify-between items-center space-x-6 mx-auto px-4 py-1 md:flex-row xl:max-w-screen-xl"
            >
              <div
                class="flex-1 font-mono text-white text-sm tracking-tight overflow-x-auto whitespace-nowrap py-1"
              >

                <% locals.paths.forEach(path => { %>
                  <a href="<%= path.url %> " class="inline-block hover:underline"> <%= path.name %></a>
                  /
                 
                <% }) %>
              </div>
            </div>
          </div>
        </header>

        <div
          id="content"
          class="flex flex-col flex-grow container mx-auto px-4 xl:max-w-screen-xl dark:text-white"
        >
          <div class="my-4">
            <div class="flex justify-between font-bold p-4">
              <div class="flex-grow font-mono mr-2">File Name</div>

              <div class="font-mono text-right w-1/6 mx-2 hidden sm:block">
                Size
              </div>

              <div class="font-mono text-right w-1/4 ml-2 hidden sm:block">
                Date
              </div>
            </div>
            <ul id="file-list">
              <li></li>
            <form name="download" id="multi-download" method="post" action="/downloads">
              <% var i =0; %> 
                    <% locals.files.forEach(file => { %>
                    <li
                    class="flex flex-row rounded-lg hover:bg-gray-100 hover:shadow hover:bg-blue-700"
                  >
                  <% if (file.name === '..') { %>
                    <input type="checkbox"  class="flex ml-3 mr-2 my-4" />
                  <% }else { %>
                    <input type="checkbox" name="options[<%= i %>]" class="flex ml-3 mr-2 my-4" value="<%= file.path+file.name %>" />
                    <% i++; %>
                    <% } %>
                    <a
                      href="<%= file.url %>"
                      class="flex container justify-between font-mono group items-center p-2 w-full"
                    >
                        <div class="mx-2 icon"
                          style="background-image: url(/icons/<%=file.icon.fileName %>);">
                        </div>
  
                        <div name="filename" class="px-2 flex-1 truncate"><%= file.name %></div>
  
                        <div
                          class="hidden whitespace-nowrap text-right mx-2 w-1/6 sm:block"
                        >
                        <% if (!file.size) { %>
                         -
                        <% }else if (file.size/1024 > 1000) { %>
                         <%= (file.size/ 1024^2 ).toFixed(2)%> Mb
                        <% } else{ %>
                         
                          <%= (file.size/ 1024 ).toFixed(2) %> Kb
                        <% } %>
                        </div>
  
                        <div
                          class="hidden whitespace-nowrap text-right truncate ml-2 w-1/4 sm:block"
                        >
                          <%= file.date %> 
                        </div>
                    </a>
                  </li>
                <% }) %>%>  
              </ul>
            </form>
          </div>
        </div>

        <footer
          class="container border-t-2 border-gray-800 text-center mx-auto px-4 py-8 xl:max-w-screen-xl dark:text-white dark:border-white"
        >
          <div class="flex flex-col justify-center items-center">
            <p class="mb-4">
              This Project is Under MIT License | Designed By
              <a
                href="https://twitter.com/HameemDkl"
                class="underline hover:text-blue-700 dark:hover:text-blue-700"
                >HD</a
              >
            </p>

            <div class="flex">
              <a
                href="https://github.com/HameemDakheel/EEE-Upload-Server"
                title="GitHub"
                class="text-gray-400 mx-2 hover:text-github"
              >
                <i class="fab fa-github fa-lg"></i>
              </a>

              <a
                href="https://twitter.com/HameemDkl"
                title="Twitter"
                class="text-gray-400 mx-2 hover:text-twitter"
              >
                <i class="fab fa-twitter fa-lg"></i>
              </a>

              
            </div>
          </div>
        </footer>

        <div class="fixed bottom-0 left-0 right-0 pointer-events-none">
          <div
            class="container flex justify-end mx-auto px-4 py-10 xl:max-w-screen-xl"
          >
            <button
              id="scroll-to-top"
              ref="scrollToTop"
              title="Scroll to Top"
              class="hidden flex justify-center items-center w-12 h-12 right-0 rounded-full shadow-lg bg-blue-600 text-white cursor-pointer pointer-events-auto hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-800"
              onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });"
            >
              <i class="fas fa-arrow-up fa-lg"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/index-2.js"></script>
    <script>
      function submit() {
        document.getElementById("multi-download").submit();
      }
    </script>
    <!-- <script src="/js/jquery.min.js"></script>/ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/jquery.easing.js"></script> -->
    <!-- <script src="/js/mdb.min.js"></script> -->
    <script src="/js/script.js"></script>
  </body>
</html>
